<div class="row">
	<!--<div class="col-md-4">
		<app-profilepic></app-profilepic>
	</div>-->
  <div class="col-sm-12 col-md-8">
    <div class="card">
	  <div class="card-header">
		Change Password 
	  </div>
	  <div class="card-block row">
		<form #passwordRenewalFrom="ngForm" class="accountpassword" (ngSubmit)="passwordChange(passwordRenewalFrom); form.reset();"  #form="ngForm">
			<fieldset class="form-group">
				<label for="oldPassword">
				  Old Password
				</label>
				<input type="password" class="form-control" [(ngModel)]="passwordRenewal.oldPassword" (keydown.space)="$event.preventDefault()" name="oldPassword" #oldPassword="ngModel" placeholder="********" maxlength="20" (keyup)="checkMaxLength(20,passwordRenewal.oldPassword, 'oldPassword')"  required/>
						<!-- <div *ngIf="(oldPassword.errors && (isFormSubmitted == true || (oldPassword.dirty || oldPassword.touched)))" class="error">  -->
								
							<div *ngIf="oldPassword.errors && (oldPassword.dirty || oldPassword.touched)" class="error"> 
						<div *ngIf="oldPassword.errors.required">
								Old Password is required.
						</div>
						</div>
						<div *ngIf="!oldPassword?.errors?.minlength  && !oldPassword?.errors?.required && fieldErrors.oldPassword" class="error">
							old Password cannot be more than 20 characters.
				</div>
					</fieldset>

			<fieldset class="form-group errormassage" (keydown.space)="$event.preventDefault()" [ngClass]="{'has-danger':(newPassword.invalid && newPassword.touched && isFormSubmitted == true) || (newPassword.touched && newPassword.pristine && isFormSubmitted == true) || (passwordRenewal.submitted && newPassword.invalid && isFormSubmitted == true)}">
			<label for="newPassword">
			  New Password
			</label>
			<input type="password" class="form-control" name="newPassword" #newPassword="ngModel" placeholder="********" [(ngModel)]="passwordRenewal.newPassword" minlength="8" maxlength="20" (keyup)="checkMaxLength(20,passwordRenewal.newPassword, 'newPassword')" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{8,20})" required/>
			<!-- <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="error"> -->
					<!-- <div *ngIf="(newPassword.errors && (isFormSubmitted == true || (newPassword.dirty || newPassword.touched)))" class="error">  -->
							<div *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)" class="error"> 
			<div *ngIf="newPassword.errors.required">	New Password is required.	</div>
		</div>

			<div *ngIf="newPassword.errors && isFormSubmitted == true && (newPassword.dirty || newPassword.touched) || (passwordRenewal.submitted && newPassword.invalid && isFormSubmitted == true)|| (passwordRenewal.newPassword &&  passwordRenewal?.newPassword?.length < 8)" class="error">
					<div [hidden]="!newPassword.errors.minlength">Password should be atleast 8 characters long.</div>
					<!-- <div *ngIf="newPassword.errors.maxlength && newPassword.errors.required && newPassword.errors.pattern && newPassword.errors.minlength">password should not be more than 20 characters
					</div> -->
			</div>
			<div *ngIf="!newPassword?.errors?.minlength && !newPassword?.errors?.required && !newPassword?.errors?.pattern" class="error" >
					<div *ngIf=" passwordRenewal.newPassword == passwordRenewal.oldPassword" >New password cannot be same as old password</div>
					</div>
					<div *ngIf="newPassword?.errors?.pattern && !newPassword?.errors?.minlength" class="error">
						Password atleast one uppercase, one lowercase , one number and one special character.
					</div>
				      <div *ngIf="!newPassword?.errors?.minlength && !newPassword?.errors?.pattern && !newPassword?.errors?.required && passwordRenewal?.newPassword != passwordRenewal?.oldPassword && fieldErrors.newPassword" class="error">
							New Password cannot be more than 20 characters.
					</div>
			</fieldset>

		  <fieldset class="form-group" (keydown.space)="$event.preventDefault()" [ngClass]="{'has-danger':(confirmPassword.invalid && confirmPassword.touched && isFormSubmitted == true) || (confirmPassword.touched && confirmPassword.pristine && isFormSubmitted == true)|| (passwordRenewal.submitted && confirmPassword.invalid && isFormSubmitted == true)}">
				<label for="password">
				  Confirm Password
				</label>
				<input type="password" class="form-control" name="confirmPassword" #confirmPassword="ngModel" placeholder="********" maxlength="20"  [(ngModel)]="passwordRenewal.confirmPassword" id="confirmPassword" required/>
				<!-- <div *ngIf="(confirmPassword.errors && (isFormSubmitted == true || (confirmPassword.dirty || confirmPassword.touched)))" class="error"> 	 -->
						<div *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)" class="error"> 
				<!-- <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="error"> -->
						<div *ngIf="confirmPassword.errors.required">
								Confirm Password is required.
						</div>
						</div>
				
				<div *ngIf="passwordRenewal.newPassword && passwordRenewal.newPassword.length > 0 && passwordRenewal.confirmPassword && passwordRenewal.confirmPassword.length > 0 &&  passwordRenewal.confirmPassword != passwordRenewal.newPassword" class="error">Password not matched</div>
				<!-- <div *ngIf="confirmPassword.errors && isFormSubmitted == true && (confirmPassword.dirty || confirmPassword.touched) || (passwordRenewal.submitted && confirmPassword.invalid && isFormSubmitted == true)" class="error">Confrim password is required.</div> -->
				</fieldset>
				<!-- <button class="btn theme-btn" type="submit" [disabled] =" form.invalid && passwordRenewal.oldPassword == passwordRenewal.newPassword && passwordRenewal.oldPassword == passwordRenewal.confirmPassword " >Change Password </button>  -->
		 
				<button class="btn theme-btn" type="submit" [disabled] =" form.invalid || passwordRenewal.oldPassword == (passwordRenewal.newPassword && passwordRenewal.confirmPassword)" >Change Password </button> 
		

		</form>
	  </div>
	  </div>
  </div>
</div>

