// input[type="checkbox"]{
//     position: relative;
//     top: 2px;
// }

input.form-check-input{
    position: relative;
    top: 2px;
}

.success {background-color: #4CAF50;}
.label {
    color: white;
    padding: 8px;
    font-family: Arial;
}

// ngb-pagination.page{
//     position: relative;
//     float: right;
//     top: 25px;
// }


