<app-header></app-header>
<!-- <div class="clearfix"></div>
<div class="authentication-loader" *ngIf="isAuthenticateSpinner">
  <div class="loader09"></div>
</div> -->
<div class="login-page">
  <div class="img-container">
    <div class="text-center pull-right photo">
      <img src="assets/images/walletlogo3.png" class="user-avatar img-circle img-responsive" />
       
      <h1>My
        <br/>
        <span>Wallet</span>
        <br />
        <small>Version 1.0</small>
      </h1>
    </div>
  </div>
  <div class="form-content">
    
     <a  style="font-size: 160%;" >Welcome to MyWallet</a>
     
  </div>   
  
  <!-- <div class="form-content">
    <div class="pro-link">
      <a  style="font-size: 160%;" >Welcome to MyWallet</a>
    </div>
  </div> -->
    
</div>
